*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main
{
    display: inline-block;
    position: relative;
    margin-top: 5%;
    padding: 10px;
}

body
{
    text-align: center;
    min-height: 100vh;
}

.pokedex
{
    width: 100%;
    max-width: 426px;
    min-width: 266px;
}

.poke_content
{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    bottom: 41.5%;
    right: 32%;
}

.poke_name
{
    color: rgb(112, 109, 104);
    text-transform: capitalize;
    font-size: clamp(80%, 130%, 140%);
}

.poke_search
{
    position: absolute;
    bottom: 31%;
    left: 21.9%;
    width: 55%;
}

.pokemon_input
{
    width: 100%;
    padding: 3%;
    outline: none;
    border: 2px solid #333;
    border-radius: 4px;
    font-weight: 700;
    color: #902040;
    font-size: clamp(10%, 100%, 120%);
    box-shadow: -3px 4px 0 rgb(150, 136, 136), -5px 6px 0 #333;
    transition: all 0.05s ease-in-out;
}

.pokemon_input:hover
{
    box-shadow: none;
    width: 98%;
}

.button-gp
{
    position: absolute;
    width: 55%;
    left: 48.5%;
    bottom: 8%;
    transform: translateX(-46.6%);
    box-shadow: -6px 4px 10px rgb(52, 5, 20);
}

.button
{
    width: 100%;
    padding: 3%;
    outline: none;
    border: 2px solid #333;
    border-radius: 4px;
    font-weight: 700;
    color: #fb3838;
    background-color: rgb(91, 189, 211);
    font-size: clamp(10%, 100%, 120%);
    box-shadow: -3px 4px 0 rgb(150, 136, 136), -5px 6px 0 #333;
    transition: all 0.05s ease-in-out;
    margin-bottom: 2%;
    transition: all ease-in 0.1s;
    text-transform: uppercase;
    font-weight: 900;
}

.button:active
{
    transform: scale(0.97);
}

.pokemon_img
{
    position: absolute;
    left: 42%;
    bottom: 52%;
    width: 24%;
}